//Delcare sidebar width
$sidebar-width:190px;
$sidebar-speed:.3s;

body {
  background-color: #fff;
}

.container{
  display: block;
  float:right;
  width: 610px;
  padding: 0px 0px 0px 0px;
//  max-width:1000px;
}

.canvasWrapper{
  width: 830px;
  margin-right: auto;
  margin-left: auto;
}
.pageHeader{
  width: 830px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333;
  background-position: 0px 0px;
  
}

h1 {
color: #FFFFFF;
text-align:center;
font-size: 51px;
-webkit-text-fill-color: white;
/*background:-webkit-linear-gradient(top, rgb(230, 249, 232), rgb(230, 249, 232));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;*/
}
.main-article{
  width: 710px;
  padding-left:0px;
}

.main-sidebar{
/*
  position:fixed;
  top:50px;
  left:310px;
*/
  display: block;
  float: left; 
  bottom:0;
  width:$sidebar-width+10;
  padding:0px 0px 0px 0px;
  font-size:13px;
  color:rgba(white,.6);
  z-index: 99;
  .about-lee a{
    text-decoration: none;
    &:hover,&:focus{
      border-bottom:1px solid #fff;
    }
  }
  strong{
    font-weight: 400;
    color:#fff;
  }
}



/* Sidebar colors
.home .main-sidebar{
  @include background(linear-gradient(120deg, $primary-gradient));
}
.blog .main-sidebar{
  @include background(linear-gradient(120deg, $primary-gradient-blog));
}
.portfolio .main-sidebar{
  @include background(linear-gradient(120deg, $primary-gradient-portfolio));
}
.about .main-sidebar{
  @include background(linear-gradient(120deg, $primary-gradient-about));
}
.contact .main-sidebar{
  @include background(linear-gradient(120deg, $primary-gradient-contact));
}*/




// Responsive styles
@include responsive($big-break) {

  // Hide sidebar
  .main-sidebar{
    position:absolute;
    left:-($sidebar-width+10);
    transition: $sidebar-speed;
    &.show-main-nav{
      position:fixed;
      left:-10px;
    }
  }

  // Crush the container padding
  .container{
    max-width:1000px-$sidebar-width;
    transition: $sidebar-speed;
    .main-article{
      padding-left:0;
      transition: $sidebar-speed;
    }
  }
}

// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
